
<p>Sistem Otomasi lampu rumah ini adalah sebuah sistem informasi berbasis web untuk memonitoring keadaan rumah atau pun mengendalikan lampu rumah melalui web browser, sistem ini di bangun dengan menggunakan hardware (Arduino uno r3 board, Ethernet shield w5100, relay, sensor, dan beberapa elektronik lain nya) dan software(arduino IDE, Ruby on Rails).
<br />
<br />
<br />
Warm Regard,<br />
Muhammad Yani<br />
moh.y@mhs.ubharajaya.ac.id</p>  